.notice {
  width: 100%;
  text-align: center;
  background: var(--light-white);

  a {
    display: block;
    padding: 8px 0;
    color: var(--text-black);
    font-size: var(--text-body);
    font-weight: bold;
    text-decoration: underline;

    &::after {
      content: "↗︎";
    }
  }
}